@charset "UTF-8";

body{
    background-color: #FFF9F2;
    font-family: Arial, Helvetica, sans-serif;
    color: #705739;
    text-align: justify;
}

h1{
    color: #C29B6B;
    text-align: center;
    font-size: 36px;
}
h2{
    color: #C29B6B;
    text-align: center;
    font-size: 36px;
}
h3{
    color: #78a1b6;
    font-size: 20px;
}

img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    padding: 10px;
}