@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação*/

@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Mansalva&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, white,#26bfbf 10%,#D771D9 60%, white);
}

header {
    background-image: linear-gradient(to bottom, #F27166, #F2C438);
    background-color: #2999A6;
    padding: 40px;
    box-shadow: 0px 3px 2px 3px  rgba(0, 0, 0, 0.089);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.644);
}

header h1 {
    font-family: 'Mansalva', cursive;
    font-size: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
    
}

header h2 {
    font-family: 'Dokdo', cursive;
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
}

main {
    background-color: #7db0b6b2;
    font-family: 'Pangolin', cursive;
    color: aliceblue;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    min-width: 300px;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.301);
}

main img {
    margin: auto;
    display: block;
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    min-width: 270px;
}

main h2{
    font-family: 'Mansalva', cursive;
    color: #25669b;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.473);
}

main > p {
    margin: 5px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3em;
    font-size: 1.2em;
}

main > p.observação {
    font-size: 13px;
}

main strong {
    color: #F27166;
}

main ul {
    margin: 20px;
    padding-left: 50px;
}

main a.none-decoration {
    text-decoration: none;
    color: #D771D9;
}

main a.none-decoration:hover {
    text-decoration: underline;
}

main .topico {
    font-size: 16px;
    text-align: center;
    margin: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

aside.exercicio {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.733);
    color: black;
    font-size: 13px;
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}

aside > p {
    display: none;
}

aside:hover > p {
    display: block;
}

aside.exercicio > h3 {
    margin: 10px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 1.3em;
}

aside.exercicio > h4 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
}

aside.exercicio > p {
    padding: 5px;
}

aside.exercicio a {
    font: normal 1em Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

aside.exercicio a:visited {
    color: darkred;
}

aside.exercicio a:hover {
    text-decoration: underline;
}

aside.exercicio a.especial:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

aside.exercicio a.especial::before {
    content: '>> ';
    font-weight: lighter;
}

aside.exercicio a.especial::after {
    content: ' <<';
    font-weight: lighter;
}
