@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: rgba(0, 0, 205, 0.651);
    background-color: lightblue;
}
h2{
    color: rgb(224, 19, 180);
}
p{
    text-align: justify;
}